@model IEnumerable<InvoiceBRY.Models.Invoice>

@{
    ViewData["Title"] = "Invoices";
}

<h1>Invoices For @ViewData["name"]</h1>

<p>
    <a asp-action="CreateCustomer" asp-route-customerid="@ViewData["customerId"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                <a asp-controller="InvoiceDescriptions" asp-action="CreateCustomer" asp-route-invoiceId="@item.InvoiceId" asp-route-name="@ViewData["name"]" asp-route-customerId="@ViewData["customerId"]" asp-route-HST="@ViewData["HST"]">Add Description</a>
            </td>
            <td>
                <a asp-controller="InvoiceDescriptions" asp-action="CustomerIndex" asp-route-invoiceId="@item.InvoiceId" asp-route-name="@ViewData["name"]" asp-route-customerId="@ViewData["customerId"]" asp-route-HST="@ViewData["HST"]">View Descriptions</a>
            </td>
            <td>
                <a asp-controller="InvoiceImages" asp-action="CustomerIndex" asp-route-invoiceId="@item.InvoiceId" asp-route-name="@ViewData["name"]" asp-route-customerId="@ViewData["customerId"]" asp-route-HST="@ViewData["HST"]">View Image</a>
            </td>
            <td>
                <a asp-action="ViewInvoice" asp-route-id="@item.InvoiceId" asp-route-name="@ViewData["name"]" asp-route-customerId="@ViewData["customerId"]">View Invoice</a>
            </td>
            <td>
                <a asp-action="EditCustomer" asp-route-id="@item.InvoiceId" asp-route-name="@ViewData["name"]">Edit</a> |
                <a asp-action="CustomerDetails" asp-route-id="@item.InvoiceId">Details</a> |
                <a asp-action="DeleteCustomer" asp-route-id="@item.InvoiceId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
