@model InvoiceBRY.Models.InvoiceDescription

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InvoiceDescription</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditCustomer" asp-route-id="@Model.DescriptionId" asp-route-invoiceId="@ViewData["invoiceId"]" asp-route-name="@ViewData["name"]" asp-route-customerId="@ViewData["customerId"]" asp-route-HST="@ViewData["HST"]">Edit</a> |
    <a asp-action="CustomerIndex" asp-route-invoiceId="@ViewData["invoiceId"]" asp-route-name="@ViewData["name"]" asp-route-customerId="@ViewData["customerId"]" asp-route-HST="@ViewData["HST"]">Back to List</a>
</div>
